<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Головна сторінка')"></head>
<body class="container mt-4">

<h1 class="mb-4">Головна сторінка</h1>

<div class="d-grid gap-3">
  <a href="/ui/units" class="btn btn-primary">Всі Military Units</a>
  <a href="/ui/work-days" class="btn btn-secondary">Всі Work Days</a>
  <a href="/ui/new-unit" class="btn btn-info">Додати новий юніт</a>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
